<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV</title>
</head>
<body>
    <h1>Upload CSV untuk Efaktur</h1>
    <form action="/converter" method="POST" enctype="multipart/form-data">
        <label for="file">Pilih file CSV:</label><br>
        <input type="file" id="file_csv" name="file_csv" accept=".csv" required><br><br>
        <button type="submit">Proses</button>
    </form>
</body>
</html>
